/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

#demo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.instruments {
  color: red;
}

.StagePlot.body {
  display: flex;
  justify-content: center;
}
.StagePlot h1 {
  text-align: center;
}
.StagePlot.red-box {
  height: 600px;
  width: 600px;
  border: 2px solid red;
}
.StagePlot.blue-box-container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.StagePlot.box {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  background-color: blue;
  margin: 10px;
}

/* END DEMO */
