.artist-collab-container {
  display: flex;
}

.icon-selection-container {
  height: 18rem;
  width: 14rem;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2rem;
}

.icon-to-select {
  height: 4rem;
  width: 4rem;
  background-size: 100% 100%;
}
