.the-stage {
  height: 18rem;
  width: 24rem;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
}

.icon-on-stage:hover {
  cursor: pointer;
}
