.the-stage {
  height: 18rem;
  width: 24rem;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  position: relative;
}

.icon-on-stage:hover {
  cursor: pointer;
}
