.container {
  width: 100vw;
  height: 100vh;
  background-color: #232324;
}
.button {
  background-color: #a6271f;
  padding: 10px;
  margin: 20px;
  font-weight: 900;
  border: 1px solid black;
  color: white;
}

.stageArea {
  padding: 20px;
}

.stagePlot {
  background-color: orangered;
  width: 576px;
  height: 384px;
  color: black;
  padding: 20px;
  font-weight: 600;
}
.instruments {
  width: 80px;
  height: 80px;
}
/* 
.acoustic-guitar {
  background-color: blue;
}
.microphone {
}
.dj {
}
 */
