.individual-package {
  border-radius: 10px;
  width: 10rem;
  height: 6.67rem;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  transition: all 150ms ease-in 0ms;
}
.individual-package:hover {
  cursor: pointer;
  border: 1px solid lightgray;
  transition: all 150ms ease-in 0ms;
}
.package-select {
  display: flex;
}
.entire-modal-inner-container * {
  margin: 0.25rem;
}
.individual-package-container {
  border-radius: 10px;
  transition: all 50ms ease-in 0ms;
}
.individual-package-container:hover {
  cursor: pointer;
  border-radius: 10px;
  transition: all 50ms ease-in 0ms;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#package-select {
  width: 18rem;
}

#background-overlay-parent {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 650ms;
  opacity: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: fixed;
}

#background-overlay {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 650ms;
  opacity: 80%;
  background-color: #374151;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
