@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid blue;
} */

/* **********************BUTTONS**************************  */

.btn-1 {
  @apply bg-red hover:bg-red text-white p-2 text-center content-center m-6 w-32 h-16;
}

label:hover {
  cursor: pointer;
}

/* **********************BUTTONS**************************  */
.btn-1 {
  @apply bg-red hover:bg-red text-white p-2 m-6 content-center w-32 h-16;
}
.btn-2 {
  @apply bg-green hover:bg-green-light text-white p-2 text-center content-center m-6 w-32 h-16;
}
.btn-3 {
  @apply bg-black hover:bg-gray-light text-white p-2 text-center content-center m-6 w-32 h-16;
}
.btn-4 {
  @apply bg-gray hover:bg-gray-light text-white p-2 text-center content-center m-6 w-32 h-16 border-solid border-white border-2;
}
.btn-5 {
  @apply bg-white hover:bg-green-light text-black p-2 m-6 text-center content-center m-6 h-16;
}

.btn-area {
  @apply text-center;
}
/* ***************************AREAS********************************  */
.container {
  @apply bg-gray-dark content-center justify-center;
}

.main-area {
  @apply content-center justify-center w-full;
}
.main-area {
  @apply bg-gray-dark content-center;
}
/* *********************FORMS AND ONBOARDING**********************  */
.form {
  @apply bg-gray-dark shadow-md rounded p-8 content-center justify-center;
}
.inner-form {
  @apply font-bold text-center p-2;
}
.text-input {
  @apply bg-white shadow-md rounded px-2 py-2 content-center;
}
.text-ob {
  @apply text-white p-4 px-8 m-3 content-center text-4xl font-bold justify-center;
}

/* *********************STAGE**********************  */

.stageArea {
  @apply bg-gray m-4;
}

.stagePlot {
  @apply bg-green-light min-w-full;
}

.instruments {
  @apply h-40 w-40;
}

/* *******************DASH-NAV******************* */

.dash-nav-1 {
  @apply text-white py-4 px-6 block hover:text-white focus:outline-none text-white border-b-2 font-medium border-white;
}

.dash-nav-btn {
  @apply text-white py-4 px-6 block hover:text-white hover:text-white focus:outline-none text-red border-b-2 font-medium border-red;
}

.dash-nav {
  @apply flex flex-col sm:flex-row p-4;
}

.dash-nav-area {
  @apply bg-gray p-2;
}

.dash-h1 {
  @apply text-white text-4xl;
}

.dash-h2 {
  @apply text-white text-3xl;
}

.dash-h3 {
  @apply text-white text-2xl;
}

.dash-h4 {
  @apply text-white text-xl;
}

.equipment-list {
  @apply text-white text-xl p-4;
}

.main-nav {
  @apply bg-gray-dark;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(29, 28, 28);
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #020202;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.delete-button:hover {
  cursor: pointer;
}
