@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid blue;
} */

/* **********************BUTTONS**************************  */

.btn-1 {
  @apply bg-red hover:bg-red text-white p-2 text-center content-center m-6  h-16;
}

label:hover {
  cursor: pointer;
}

/* **********************BUTTONS**************************  */
.btn-1 {
  @apply bg-red hover:bg-red text-white p-2 m-6 text-center content-center w-32 h-16;
}
.btn-2 {
  @apply bg-green hover:bg-green-light text-white p-2 text-center content-center m-6  w-32  h-16;
}
.btn-3 {
  @apply bg-black hover:bg-gray-light text-white p-2 text-center content-center m-6  w-32  h-16;
}
.btn-4 {
  @apply bg-gray hover:bg-gray-light text-white p-2 text-center content-center m-6  w-32  h-16 border-solid border-white border-2;
}
.btn-5 {
  @apply bg-white hover:bg-green-light text-black p-2 m-6 text-center content-center m-6 w-32  h-16;
}

.btn-area {
  @apply text-center;
}
/* ***************************AREAS********************************  */
.login-container {
  @apply bg-gray-dark content-center justify-center;
}
.nav-container {
  @apply bg-gray-dark content-center justify-center;
}

.container {
  @apply bg-gray-dark;
}

/* *********************Welcome Landingpage**********************  */
.landing-page {
  @apply bg-gray-dark content-center justify-center w-full h-full;
}
.landing-container-1 {
  @apply flex h-70vh shadow-md;
}
.welcome {
  @apply flex flex-col mt-24 ml-36;
}

.join-button {
  @apply bg-red hover:bg-red text-white content-center w-48 h-9 text-2xl ml-16 mt-16;
}

.landing-container-back {
  @apply flex h-70vh;
}

.landing-pic-back {
  @apply ml-52 pt-4 w-30vw h-70vh;
}

.landing-container-info-back {
  @apply ml-20 flex flex-col justify-center p-2;
}

.landing-container-image-back {
}

.landing-container-3 {
  @apply flex flex-row-reverse bg-red h-70vh w-full;
}
.landing-pic-3 {
  @apply flex ml-14 w-30vw h-70vh;
}
.landing-container-3-info {
  @apply ml-28 flex flex-col justify-center p-2;
}
.landing-container-3-image {
}

.landing-container-5 {
  @apply flex flex-row-reverse bg-red h-70vh w-full;
}
.landing-pic-5 {
  @apply flex p-2 ml-14 w-30vw h-70vh;
}
.landing-container-5-info {
  @apply ml-28 flex flex-col justify-center p-2;
}
.landing-container-5-image {
}

.landing-footer {
  @apply bg-gray-dark h-30vh m-4 flex flex-col;
}

.landing-footer-info {
  @apply flex flex-col pl-12 pt-12;
}

.main-area {
  @apply bg-gray-dark text-center justify-center;
}

.title-1 {
  @apply text-5xl font-bold ml-16;
}
.title-paragraph-1 {
  @apply text-xl mt-10 ml-16;
}
.title {
  @apply text-5xl font-bold ml-8 text-white;
}
.title-paragraph {
  @apply text-xl mt-10 ml-8 text-white;
}
.title-2 {
  @apply text-5xl font-bold ml-16;
}
.title-paragraph-2 {
  @apply text-xl mt-10 ml-16;
}

/* *********************FORMS AND ONBOARDING**********************  */
.form {
  @apply bg-gray-dark shadow-md rounded p-8 content-center justify-center;
}
.inner-form {
  @apply font-bold text-center p-2;
}
.text-input {
  @apply bg-white shadow-md rounded px-2 py-2 content-center;
}
.text-ob {
  @apply text-white p-4 px-8 m-3 content-center text-4xl font-bold justify-center;
}

/* *********************STAGE**********************  */

.stageArea {
  @apply bg-gray m-4;
}

.stagePlot {
  @apply bg-green-light min-w-full;
}

.instruments {
  @apply h-40 w-40;
}

.saved-stage {
  @apply bg-gray-light text-gray-dark flex p-2 m-4 w-1/2 justify-center;
}

.saved-stage-info {
  @apply bg-gray-light text-gray-dark p-2 m-2 flex flex-col w-2/3;
}

.saved-stage-btn-area {
  @apply text-center justify-center bg-gray-light m-3 p-2 w-1/3;
}

/* *******************EVENT******************* */

.saved-event {
  @apply bg-gray-light text-gray-dark flex p-2 m-4 w-1/2 justify-center;
}

.saved-event-info {
  @apply bg-gray-light text-gray-dark p-2 m-2 flex flex-col w-2/3;
}

.saved-event-btn-area {
  @apply text-center justify-center bg-gray-light m-3 p-2 w-1/3;
}

/* *******************DASH-NAV******************* */

/* .dash-nav-1 {
  @apply text-white py-4 px-6 block hover:text-white focus:outline-none text-white border-b-2 font-medium border-white;
}

.dash-nav-btn {
  @apply text-white py-4 px-6 block hover:text-white hover:text-white focus:outline-none text-red border-b-2 font-medium border-red;
}

.dash-nav {
  @apply flex flex-col sm:flex-row p-4;
}

.dash-nav-area {
  @apply bg-gray p-2;
}

.dash-h1 {
  @apply text-white text-4xl p-3  flex flex-col;
}

.dash-h2 {
  @apply text-gray-dark text-3xl;
}

.dash-h3 {
  @apply text-white text-2xl;
}

.dash-h4 {
  @apply text-white p-2 text-xl;
}

.dash-title-bar {
  @apply bg-gray-dark flex p-2 w-1/2;
}

.dash-title-bar-buttons {
  @apply flex flex-col text-center bg-gray-dark justify-items-center;
}

.equipment-buttons {
  @apply text-black text-xl p-4 w-1/2;
}

.equipment-dropdown {
  @apply text-xl p-2;
}

.main-nav {
  @apply bg-gray-dark;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.profile-icon {
  @apply flex h-12 w-12;
}

.artist-collab-container * {
  margin: 0.5rem;
}

.swal {
  background-color: #0f0cc4;
} */

/* *******************DASH-NAV******************* */
.header-container {
  @apply h-50vh;
}
.profile-picture {
  @apply w-72 h-96 rounded float-left ml-5 mt-44;
}
.dashboard-tabs-container {
  @apply h-90vh flex justify-center;
}
.dashboard-tabs {
  @apply flex-row;
}
.dash-nav {
  @apply flex sm:flex-row space-x-60 text-lg text-white justify-center w-full mt-5 p-2 h-90vh;
}
.dash-something {
  @apply bg-gray-dark h-90vh;
}

.file-upload-btn-area {
  @apply text-gray-dark;
}

.save-image-btn {
  @apply mt-4 bg-gray hover:bg-gray-light text-white p-2 text-center content-center m-6  w-32  h-16 border-solid border-white border-2;
}

.swal-modal {
  background-color: rgba(63, 255, 106, 0.69);
  border: 3px solid white;
}
